{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>

    * {
        padding: 0px;
        margin: 0px;
    }

    .topType {
        background-color: red;
        height: 30px;
        width: 100%;
        text-align: center;
    }

    .topType li {
        list-style: none;
        float: left;
    }

    .LunBoTu {
        background-color: aqua;
        height: 300px;
        width: 100%;
        text-align: center;
    }

</style>

<body>

<div class="topType">
    {% for TopType1 in TopType %}
        <ul>
            <li>{{ TopType1.TopType }}</li>
        </ul>
    {% endfor %}
</div>


<div class="LunBoTu">

    {% for LunBo in LunBo_T %}
      {{ LunBo.LunBo_title }}
    {% endfor %}

</div>

</body>
</html>